@model ControlUsuarioSamaniego.Models.Usuario
@{
    Layout = "_Layout";
}

<main>
    <h1>Activar mi Xperiencia Gaming</h1>
    <form method="post" action="~/Home/Activar">
        <p>Introduce nuestro codigo GX enviado a tu correo electronico:</p>
        <input type="number" name="codigo" required />
        <input type="submit" value="Activar" />
    </form>
</main>
